.cart-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-dark;
  height: 100%;
  .header {
    width: 100%;
    margin: 0;
    color: $baker-miller-pink;
    font-size: 2rem;
    margin-bottom: 2rem;

    h1 {
      color: $baker-miller-pink;
      margin-top: 3%;
      margin-bottom: 0;
      padding: 1rem 4rem;
    }
  }

  .user-cart {
    padding: 0.5rem 0;
    margin-bottom: 8rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    border: 3px solid $primary-light;
    border-radius: 5px 5px 5px 5px;

    .price {
      color: $primary-medium;
    }

    .product-wrapper {
      height: 200px;
      min-height: 200px;
      max-height: 200px;
      width: 95%;
      margin: 0.8rem 0;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .individual-product {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .product-image {
          width: 143px;
        }
        .product-desc {
          @include flex-center-column;
          padding: 1rem 0;
          width: 500px;
          height: 150px;
          min-height: 150px;
          max-height: 150px;
          color: #1a0001;
          background-color: $secondary-light;
          border: 1px solid $primary-light;
          border-radius: 5px;
          font-size: 1.43rem;

          h5 {
            margin: 0.5rem 10px;
            padding: 0;
            a {
              text-decoration: none;
              color: $primary-dark;
            }
            a:hover {
              color: $primary-medium;
            }
          }
        }
        .product-quantity {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 1rem;
          color: $primary-dark;

          .quantity-control {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 25px;
            height: 25px;

            button {
              cursor: pointer;
            }
          }

          .remove-item button:hover {
            cursor: pointer;
            color: $primary-medium;
          }
        }
      }
    }
  }

  .checkout-btn {
    border-radius: 5px;
    color: $baker-miller-pink;
    border: none;
    background-color: $primary-light;
    padding: 0.5vw;
    cursor: pointer;
    @include light-drop-shadow;
    font-size: 10px;
    margin-bottom: 5px;
  }

  .checkout-btn:hover {
    background-color: $secondary-light;
    color: $primary-dark;
    @include dark-drop-shadow;
    cursor: pointer;
  }

  .empty-btn {
    border-radius: 5px;
    color: $baker-miller-pink;
    border: none;
    background-color: $primary-light;
    padding: 0.5vw;
    cursor: pointer;
    @include light-drop-shadow;
    font-size: 10px;
  }

  .empty-btn:hover {
    background-color: $secondary-light;
    color: $primary-dark;
    @include dark-drop-shadow;
    cursor: pointer;
  }
}
