.contact-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .contact-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;

    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .form-group {
      margin-bottom: 15px;

      label {
        color: $secondary-dark;
        display: block;
        margin-bottom: 5px;
      }

      input[type="text"],
      input[type="email"],
      textarea {
        color: $secondary-dark;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
      }
    }

    button[type="submit"] {
      background-color: $baker-miller-pink;
      color: $secondary-dark;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $primary-light;
        color: $baker-miller-pink;
      }
    }

    .popup {
      background-color: $primary-medium;
      padding: 10px;
      border-radius: 5px;
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;
      animation: slide-up 0.3s ease;

      @keyframes slide-up {
        0% {
          opacity: 0;
          transform: translate(-50%, 20px);
        }
        100% {
          opacity: 1;
          transform: translate(-50%, 0);
        }
      }
    }
  }
}
