.individual-product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 20px;

  .product {
    @include flex-center-column;
    margin: 20px;
    border: 2px soild $secondary-light;

    .product-image {
      width: 500px;
      height: 300px;
      @include background-image;
    }

    .product-description-container {
      @include flex-center-column;
      width: 40vw;
      color: $baker-miller-pink;
      @include dark-drop-shadow;
      font-size: 1.5rem;
      margin-top: 40px;

      .product-price {
        font-size: 2rem;
      }

      .product-description {
        margin-top: -30px;
        text-align: center;
        padding: 0px 20px;
      }

      .product-category {
        margin-top: -5px;
      }

      .add-to-cart-btn {
        background-color: $secondary-light;
        color: $primary-dark;
        border: none;
        margin: -10px 0px 20px 0px;
        padding: 5px 10px;
      }

      .add-to-cart-btn:hover {
        background-color: $primary-light;
        color: white;
        cursor: pointer;
      }
    }
  }
}
