.nav {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: baseline;
  gap: 7rem;
  @include dark-drop-shadow;
  position: sticky;
  background-color: $primary-dark;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: $baker-miller-pink;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav a:hover {
  color: $secondary-light;
}

p {
  margin: 5px 5px;
}

.footer {
  @include flex-center-column;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  background-color: $primary-dark;
  color: $baker-miller-pink;
  .icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 15rem;
    a {
      color: $baker-miller-pink;
    }
    a:hover {
      color: $secondary-light;
    }
  }
}
