.nav {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: baseline;
  gap: 7rem;
  filter: drop-shadow(0 0.2rem 0.2rem rgb(26 0 1 / 50%));
  position: sticky;
  background-color: #1a0001;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: #ff91af;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav a:hover {
  color: #c45c7b;
}

.login {
  background-color: #1a0001;
}

.login-input {
  display: flex;
  background-color: $primary-dark;
}

p {
  margin: 5px 5px;
}

.footer {
  @include flex-center-column;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  background-color: $primary-dark;
  color: $baker-miller-pink;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 15rem;
}

.icon a:hover {
  color: $secondary-light;
}
