.products-page {
  @include flex-center-column;
  background-color: $secondary-dark;
  margin-bottom: 7%;
}

.header {
  margin-top: 7%;
  margin-bottom: 11vh;
  color: $baker-miller-pink;
  display: flex;
  justify-content: center;
  text-shadow: 3px 3px 9px rgb(26 0 1 / 100%);
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 3vw 0px 3vw 0;
}

.filter-btns {
  background-color: $secondary-light;
  color: $primary-dark;
  font-size: 1rem;
  border: none;
  margin: 0px 2vw 0px 5vw;
  padding: 0.5vw 1vw;
  border-radius: 5px;
  @include dark-drop-shadow;
}

.filter-btns:hover {
  color: $secondary-light;
  background-color: $primary-dark;
  border: none;
  cursor: pointer;
  @include light-drop-shadow;
}

.container-for-all-products {
  display: grid;
  grid-template-columns: repeat(2, 40vw);
  justify-content: center;
  grid-gap: 5vw;
  width: 100vw;
  margin-top: 3vw;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 40vw;
  border: 1px solid $secondary-light;
  border-radius: 11px;
  background-color: white;
  @include light-drop-shadow;
}

.product-image {
  width: 20vw;
  padding: 2vw;
}

.product-description-container {
  text-align: center;
  border-radius: 11px 11px 11px 11px;
  width: 40vw;
  background-color: $primary-medium;
  color: $primary-dark;
  @include dark-drop-shadow;
  font-size: 1rem;
}

.product-name {
  font-size: large;
  padding: 0 5px 0 5px;
}

.add-to-cart-btn {
  color: $baker-miller-pink;
  background-color: $secondary-dark;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 1.5vh;
  @include medium-drop-shadow;
}

.add-to-cart-btn:hover {
  color: $primary-dark;
  background-color: $baker-miller-pink;
  @include dark-drop-shadow;
  cursor: pointer;
}

.product-link {
  font-style: none;
  color: $primary-light;
}
