@mixin light-drop-shadow {
  filter: drop-shadow(0 0.2rem 0.2rem rgb(255 145 174 / 80%));
}

@mixin dark-drop-shadow {
  filter: drop-shadow(0 0.3rem 0.3rem rgb(26 0 1 / 100%));
}

@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
